<h2>Detalhes do Usuário 000000</h2>

{{#with usuario}}
<p>Id Usuário: {{id_usuario}} </p>
<p>Nome: {{nome_usuario}}</p>
<p>Endereço: {{endereco_usuario}}</p>
<p>E-mail: {{email_usuario}}</p>
<p>Data de Nascimento: {{data_nascimento_usuario}}</p>
{{/with}}