{{#with usuario}}
<h2>Detalhes do Usuário - {{nome_usuario}}</h2>
<ol class="list-group">
<li class="list-group-item"><strong>Id Usuário:</strong> {{id_usuario}}</li>
<li class="list-group-item"><strong>Nome:</strong> {{nome_usuario}}</li>
<li class="list-group-item"><strong>Endereço:</strong> {{endereco_usuario}}</li>
<li class="list-group-item"><strong>E-mail:</strong> {{email_usuario}}</li>
<li class="list-group-item"><strong>Data de Nascimento:</strong> {{data_nascimento_usuario}}</li>
</ol>
{{/with}}

